/*
* Font of body
*/
@font-face {
  font-family: 'apercu';
  src: url('../fonts/apercu_regular.eot.eot'); /* IE9 Compat Modes */
  src: url('../fonts/apercu_regular.eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/apercu_regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/apercu_regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/apercu_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/apercu_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: 'apercu';
  color: #4E4E50;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

/*
* Header styles
*/

.header {
  background: rgba(0,0,0,0.5);
}

.header__container {
  width: 1200px;
  margin: 0 auto;
}

/*
*Navbar of the page
*/

.navbar {
  position: absolute;
  width: 100%;
  margin-top: -35px;
}

.navbar__menu {
  float: right;
  width: 100%;
  margin: 0 auto;
}

.header__nav {
  display: inline-block;
  text-align: right;
  width: 1200px;
  margin-left: -5px;
}

.navbar__menu--link {
  display: inline-block;
  padding: 0.4em 0.8em;
  margin-left: -5px;
  color: white;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  outline: none;
  border-bottom: 5px solid transparent;
  -moz-transition: border-color 0.5s ease;
   -o-transition: border-bottom 0.5s ease;
  -ms-transition: border-bottom 0.5s ease;
      transition: border-bottom 0.5s ease;
}

.navbar__menu--link:hover {
	border-bottom: 5px solid white;   
}

.navbar__menu--logo {
  position:  absolute;
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-top: 5px;
}

.navbar__menu--list {
    display: inline;
}

.navbar__header {
	position: absolute;
  margin-top: -10px;
	padding-left: 400px;
  outline: none;
  font-size: 25px;
}

.navbar__signin {
  margin: 10px;
  width: 8em;
  padding: 5px 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  background: transparent;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border:1px solid white;
  -moz-transition: background-color 0.5s ease;
     -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
  -moz-transition: color 0.5s ease;
     -o-transition: color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
}

.navbar__signin:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  background: white;
}

/*
*Jumbotron bakground image and Header
*/

.jumbotron__header {
  padding-top: 125px;
  font-size: 70px;
  text-align: center;
}

.jumbotron__header--faq{
  padding-top: 130px;
  font-size: 70px;
  text-align: left;
}

.jumbotron__header--tos ,
.jumbotron__header--privacy {
  padding-top: 130px;
  font-size: 70px;
  text-align: left;
}

.jumbotron__subheader {
  height: 100px;
  margin-top: -25px;
  padding: 0 300px;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
}

.jumbotron__subheader--faq ,
.jumbotron__subheader--tos {
  padding: 0;
  width: 50%;
  text-align: left;
}

.jumbotron__subheader--privacy {
  padding: 0;
  text-align: left;
}

.jumbotron__subheader--about {
  padding-left: 0;
}

.jumbotron__subheader--error {
  text-align: left;
  padding-top: 32%;
}

.jumbotron__img {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 600px; /*same height as jumbotron */
  margin: 0;  
}

.jumbotron__img--faculty {
  background: url('../img/books.png') no-repeat center center;
}

.jumbotron__img--parents {
  background: url('../img/parents.png') no-repeat center center;
}

.jumbotron__img--aboutus {
  background: url('../img/aboutus.png') no-repeat center center;
}

.jumbotron__img--IIT_JEE {
  background: url('../img/IIT_JEE.png') no-repeat center center;
}

.jumbotron__img--pricing {
  background: url('../img/pricing_jumbo.png') no-repeat center center;
}

.jumbotron__img--error {
 background: url('../img/error.png') no-repeat center center; 
}

.jumbotron__img--stories {
 background: url('../img/stories.png') no-repeat center center; 
}

.jumbotron__img--faq {
  background-color: #006695;
}

.jumbotron__img--tos {
  background-color: #009858;
}

.jumbotron__img--privacy {
  background-color: #FF9600;
}

.jumbotron {
  height: 503px;
  margin: 0;
  color: white;
  background:transparent;
}

.jumbotron__container {
  margin: 0 auto;
  width: 1200px;
}

.jumbotron__free-signup {
  margin-left: 41%;
  width: 200px;
  padding: 10px 10px;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  background: white;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: 0px;
  -moz-transition: background-color 0.5s ease;
     -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
  -moz-transition: color 0.5s ease;
     -o-transition: color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
}

.jumbotron__free-signup:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: #00B1EC;
}

/*
* Pricing table and their details
*/

.pricing_details {
  height: 700px;
  background-color: #E4EEF0;
}


/*
* Features of the Embibe
*/
.feature {
  padding: 20px 0;
  color: #4D4D4F;
  margin-bottom: 50px;
}

.feature__container {
  width: 1200px;
  margin: 0 auto;
}

.feature__header {
	font-size: 50px;
  text-align: center;
}

.feature__subheader {
  margin-top: -20px;
  padding: 0 250px;
	text-align: center;
}

.feature__detail {
	width: 33.33%;
  height: 300px;
  vertical-align: bottom;
  text-align: center;
}

.feature__detail {
  display: inline-block;
  vertical-align: middle;
}

.feature__detail--header {
  font-size: 20px;
}

.feature__detail--image {
  height: 110px;
}

/*
* We know jee IIT_JEE  page.
*/
.know-jee {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 700px;
  background-color: #F2F5F6;
}

.know-jee__container {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

.know-jee__header {
  font-size :50px;
}
.know-jee__subheader {
  padding-left: 250px;
  padding-right: 250px;
}

.know-jee__sub {
  padding-top: 20px;
  padding-bottom: 20px;
}

.know-jee__subject {
  position: relative;
  display: inline-block;
  width: 33.33%;
}

.know-jee__subject--precentage {
  position: absolute;
  margin-top: 22%;
  left: 45%;
}

.know-jee__subject--std {
  display: inline-block;
  width: 49%;
}

/*
* Past year papers from iit_jee page
*/

.paper {
  height: 500px;
  text-align: center;
}

.paper__container {
  margin: 0 auto;
  width: 1200px;
}

.paper__header {
  font-size: 50px;
}

/*
* Pricing on the iit_jee page.
*/
.series-price {
  height: 500px;
  background-color: #E4EEF0;
}

.series-price__container {
  margin: 0 auto;
  width: 1200px;
}

/*
* Details of the Indiaviduals in the aboutus page.
*/

.indiaviduals {
  height: 800px;
  background-color: #F2F5F6;
}

.indiaviduals__container {
  margin: 0 auto;
  width: 1200px;
}

.indiaviduals__header {
  font-size: 50px;
  text-align: center;
}

.indiaviduals__subheader {
  text-align: center;
}
/*
* All in a days work.
*/
.days-work__header {
  font-size: 50px;
}

.days-work__subheader {
  font-size: 20px;
}

.days-work__container {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

.days-work__image {
  margin:70px 0;
}

/*
* Faculty page
* Details of the faculties
* And Form for intrested Student
*/

.faculties {
  max-height: 1000px;
  padding:20px 0;
  color: #3f3f3f;
  background-color: #F2F5F6;
}

.faculties__images--container {
  margin: 0 auto;
  width: 1200px;
}

.faculties__header,
.faculties__subheader {
  text-align: center;
}

.faculty__image {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url("../img/professors.png");
}

.faculty__image--right {
  float: right;
  background-position: 600px 0;
  width: 300px;
  height: 300px;
  background-color: red;
}
.faculty__image--left {
  float: left;
  background-position: 600px 0;
  width: 300px;
  height: 300px;
  background-color: red; 
}

.faculty__image--right {
  float: right;
}
.faculty__image--left {
  float: left;
}

.faculties__header {
  font-size: 40px;
}

.faculties__subheader {
  margin-top: -20px;
  margin-bottom: 10px;
}

.faculties__images {
  height: 400px;
  width: 100%;
  margin : 50px 0;
}

.faculties__images ul {
  list-style: none;
}

.faculties__images--one,
.faculties__images--two,
.faculties__images--three {
  width: 33%;
  height: 400px;
  display: inline-block;
}

.faculties__images--one {
  background-color: red;
}

.faculties__images--two {
  background-color: blue; 
}

.faculties__images--three {  
  background-color: green;
}
.signup {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 25px;
  color: white;
  background-color: #00B1EC;
  border-radius: 5px;
}

.signup__container {
  width: 1200px;
  margin: 0 auto;
}

.signup__header {
  margin-top: -10px;
  font-size: 25px;
}

.signup__name,
.signup__phone,
.signup__submit {
  width: 30%;
  display: inline-block;
}

.input {
  height: 35px;
  width: 320px;
  padding: 5px;
  padding-left: 15px;
  font-family: 'apercu';
  background-color: #ABF7FF;
  border:0px;
  border-radius: 25px;
  outline: none;
}

::-webkit-input-placeholder {
  font-weight: 500;
  color: #000033;
}

:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
  color: #000033;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 500;
  color: #000033;
}

:-ms-input-placeholder {  
  font-weight: 500;
  color: #000033;
}

.btn {
  height: 40px;
  width: 260px;
  margin-left: 150px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: transparent;
  border:1px solid white;
  border-radius:40px;
}

.btn:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
  background: white;
}

/*
*Video of the Embibe Practice
*/

.video {
  z-index: -1;
  height: 500px;
  overflow-x:hidden;
  overflow-y:hidden;
}

/*
* Pricing Quote image
*/
.quote {
  position: relative;
  height: 241px;
  margin: 0;
  color: white;
}

.quote__quote-image {
  position: absolute;
  width: 100%;
}

.quote__quote {
  position: absolute;
  padding-top: 75px;
  padding-left: 40%;
  padding-right: 30%;
  text-align: right;
  line-height: 25px;
  font-size: 22px;
}

.quote__name {
  position: absolute;
  padding-top: 140px;
  padding-left: 42%;
  text-align: right;
  width: 70%;
  font-size: 17px;
}

/*
* FAQs for embibe
*/

.faq {
  height: 480px;
  outline: 0;
}
.faq__container {
  width: 1200px;
  margin: 0 auto;
}

.add-feature {
  height: 400px;
}

.faq__header {
  margin-left: 50px;
  font-size:20px;
}

.faq__questions--header {
  margin:0;
}

.faq__questions--header a {
  margin: 0;
  padding: 10px;
  padding-left: 40px;
  display: block;
  color: #4E4E50;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  background: url("../img/sprite1.png") 15px 13px no-repeat;
}

.faq__questions--header a:link {
  outline: none;
}

.faq__questions--header.open a {
  background-position-x: 13px;
  background-position-y: -25px; 
}

.faq__question--answer {
  padding-left: 40px;
}

/*
* wedo images in about us page
*/
.wedo {
  height: 1100px;
  padding: 20px 0;
  background-color: #F2F5F6;
}

.wedo__container {
  margin: 0 auto;
  width: 1200px;
  padding: 50px 100px;
}

.wedo__header {
  text-align: center;
  font-size: 50px;
}

.wedo__subheader {
  text-align: center;
  font-size: 16px;
  padding: 0 25%;
}

.wedo__album {
  list-style-type: none;
}
.wedo__album--image {
  width: 33.33%;  
  margin-top: 15px;
  display: inline-block;
}

/*
* Carousel
*/

.carousel {
  height: 250px;
  background-color: #006696;
}

/*
* Investors for embibe
*/

.investors {
  height: 400px;
  padding: 20px 0;
  background-color: #F2F5F6;
}

.investors__container {
  margin: 0 auto;
  width: 1200px;
}

.investors__header {
  text-align: center;
  font-size: 50px;
}

.investors__details--image {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.investors__details--about {
  padding: 0 10%;
}

/*
* Embibe in the news--aboutus page
*/

.in-news {
  width: 100%;
  height: 300px;
}

.in-news__container {
  margin : 0 auto;
  width: 1200px;
}

.in-news__header {
  text-align: center;
  font-size: 50px;
}

.in-news__subheader {
  text-align: center;
  margin-top: -15px;
  font-size: 17px;
}

.in-news__logo {
  margin-top: 70px;
}

.in-news__logo--image {
  display: inline-block;
  width: 24%;
  text-align: center;
  vertical-align: middle;
}


/*
* Privacy policy section
*/

.info-setion {

}

/*
* Android application link of embibe
*/

.android-app {
  height: 202px;
  padding: 20px 0;
  background-color: #E4EEF0;
}

.android-app__container {
  width: 1200px;
  margin: 0 auto;
}

.android-app__mobile {
  width: 25%;
  margin:0;
  padding: 0;
  display: inline-block;
}

.android-app__detail {
  vertical-align: top;
  width: 40%;
  padding-top: 30px;
  display: inline-block;
  color:  #434D56;
  font-size: 22px;
}

.android-app__playstore {
  vertical-align: top;
  width: 30%;
  padding-top: 50px;
  padding-left: 5px;
  display: inline-block;
}

/*
*News of the embibe.com
*/

.news {
  padding: 20px 0;
  font-size: 17px;
  color: white;
  background-color: #90A9B2;
}

.news__container {
  width: 1200px;
  margin: 0 auto;
}

.news__detail {  
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.news__detail--date {
  font-size: 12px;
}

.news__details--info,
.news__detail--date {
  margin: 0;
  padding: 0;
  padding-right: 120px;
}

/*
*Contact details and the cources list
*/

.contact {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 25px;
  background-color: #4D4D4F;
}

.contact__container {
  width: 1200px;
  margin: 0 auto;
}

.contact__part {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.contact__list--link {
  list-style-type: none;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact__list-header {
  padding-top: 15px;
  font-size: 16px;
  color: #a8a8a8;
}

 .contact__list--page {
  line-height: 40px;
 }

.contact__list-contact {
  color: white;
}

.contact__list--subheader {
  margin-top: -5px;
  font-size: 11px;
  color: #a8a8a8;
}

/*
* Footer styles
*/

.footer {
  max-height: 70px;
  font-size: 15px;
  background-color: #363637;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
}

.footer__ul {
  margin:0;
  padding: 20px 0;
}

.footer__list {
  display: inline-block;
}

.footer__link,
.footer__ul {
  color: #767677;
  text-decoration: none;
  list-style-type: none;
}

.footer__link { 
  color: #A6A8AB; 
}

/*
* Terms styles
*/

#terms {
  padding-left: 50px;
  padding-right: 30px;
}