/*
* Font of body
*/
@font-face {
  font-family: 'apercu';
  src: url('../fonts/apercu_regular.eot.eot'); /* IE9 Compat Modes */
  src: url('../fonts/apercu_regular.eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/apercu_regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/apercu_regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/apercu_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/apercu_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: 'apercu';
  color: #4E4E50;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
* Header styles
*/

.header {
  background: rgba(0,0,0,0.5);
}

.header__container {
  width: 1200px;
  margin: 0 auto;
}

/*
* Sign in style
*/

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.popupContainer{
  position:absolute;
  width:600px;
  height: auto;
  left:45%;
  top:80px;
  background: #fff;
  border-radius: 10px;
}

.popupBody {
  margin-top: -150px;
  padding:20px;
  background-color: #E3E6E7;
  border-radius: 5px;
}

.popup__header {
  font-size: 26px;
  text-align: center;
}

.popup-fb {
  width: 100%;
  height: 94px;
  margin: 0;
  padding: 20px;
}

.popup-fb__fb-logo {
  width: 15%;
  display: inline-block;
}

.popup-fb__fb-login {
  width: 85%;
  display: inline-block;
  margin-left: -5px;
  vertical-align: top;
}

.fb-login {
  display: block;
  width: 420px;
  height: 54px;
  padding: 10px 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  border: 0px;
  background-color: #2F4C9A;
}

.form {
  padding-left: 20px;
  padding-right: 2px;
  padding-bottom: 20px;
}

.form_part {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-part__image {
  display: inline-block;
  width: 8%;
  vertical-align: bottom;
}

.form-part__input {
  display: inline-block;
  width: 92%;
  margin-left: -5px;
  vertical-align: top;
}

.signup_input {
  height: 50px;
  width: 420px;
  margin-left: 30px;
  vertical-align: top;
  background-color: #fff;
  border: 0;
  outline: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
}

.t_p {
  margin-top: 20px;
  color: black;
  font-size: 15px;
}

.agree {
  color:#AEB1B2;
  font-size:;  
}

.popup--signup {
  float: left;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #00B1EC;
}

.already-member {
  text-align: center;
  font-size: 18px;
}

/*
*Navbar of the page
*/

.navbar {
  position: absolute;
  width: 100%;
  margin-top: -35px;
}

.navbar__menu {
  float: right;
  width: 100%;
  margin: 0 auto;
}

.header__nav {
  display: inline-block;
  text-align: right;
  width: 1200px;
  margin-left: -5px;
}

.navbar__menu--link {
  display: inline-block;
  padding: 0.4em 0.8em;
  margin-left: -5px;
  color: white;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  outline: none;
  border-bottom: 5px solid transparent;
  -moz-transition: border-color 0.5s ease;
   -o-transition: border-bottom 0.5s ease;
  -ms-transition: border-bottom 0.5s ease;
      transition: border-bottom 0.5s ease;
}

.navbar__menu--link:hover {
  border-bottom: 5px solid white;
}

.navbar__menu--logo {
  position:  absolute;
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-top: 5px;
}

.navbar__menu--list {
    display: inline;
}

.navbar__header {
  position: absolute;
  margin-top: -10px;
  padding-left: 400px;
  outline: none;
  font-size: 25px;
}

.navbar__signin {
  margin: 10px;
  width: 8em;
  padding: 5px 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  background: transparent;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border:1px solid white;
  outline: none;
  -moz-transition: background-color 0.5s ease;
     -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
  -moz-transition: color 0.5s ease;
     -o-transition: color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
}

.navbar__signin:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  background: white;
  outline: none;
}

.navbar__signin:active , .navbar__signin:visited {
  outline: none; 
}

/*
*Jumbotron bakground image and Header
*/

.jumbotron__header {
  padding-top: 75px;
  font-size: 70px;
  text-align: center;
}

.jumbotron__header--faq{
  padding-top: 130px;
  font-size: 70px;
  text-align: left;
}

.jumbotron__header--tos ,
.jumbotron__header--privacy {
  padding-top: 130px;
  font-size: 70px;
  text-align: left;
}

.jumbotron__subheader {
  height: 100px;
  margin-top: -25px;
  padding: 0 300px;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
}

.jumbotron__subheader--faq ,
.jumbotron__subheader--tos {
  padding: 0;
  width: 50%;
  text-align: left;
}

.jumbotron__subheader--privacy {
  padding: 0;
  text-align: left;
}

.jumbotron__subheader--about {
  padding-left: 0;
}

.jumbotron__subheader--error {
  padding-top: 32%;
  font-size: 21px;
  text-align: left;
}

.jumbotron {
  height: 600px;
  color: white;
}

.jumbotron__img-home {
  background: url('../img/home_jumbo.png') no-repeat center center;
  background-size: cover;
}

.jumbotron__img-faculty {
  background: url('../img/books.png') no-repeat center center;
  background-size: cover;
}

.jumbotron__img-parents {
  background: url('../img/parents.png') no-repeat center center;
  background-size: cover;
}

.jumbotron__img-aboutus {
  background: url('../img/aboutus.png') no-repeat center center;
  background-size: cover;
}

.jumbotron__img-IIT_JEE {
  background: url('../img/IIT_JEE.png') no-repeat center center;
  background-size: cover;
}

.jumbotron__img-pricing {
  background: url('../img/pricing_jumbo.png') no-repeat center center;
  background-size: cover;
}

.jumbotron__img-error {
 background: url('../img/error.png') no-repeat center center;
 background-size: cover;
}

.jumbotron__img-stories {
 background: url('../img/stories.png') no-repeat center center;
 background-size: cover;
}

.jumbotron__img-faq {
  background-color: #006695;
}

.jumbotron__img-tos {
  background-color: #009858;
}

.jumbotron__img-privacy {
  background-color: #FF9600;
}

.jumbotron__container {
  margin: 0 auto;
  width: 1200px;
}

.jumbotron__free-signup {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background: #00B1EC;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: 0px;
  outline: none;
  -moz-transition:  background-color 0.5s ease;
     -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
  -moz-transition: color 0.5s ease;
     -o-transition: color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
}

.jumbotron__btn-list {
  text-decoration: none;
  padding:20px 300px;
  text-align: center;
}

.jumbotron__list {
  display: inline-block;
  margin: 0 auto;
}

 .jumbotron__subject {
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background: transparent;
  border: 1px solid white;
 }

.jumbotron__free-signup:hover {
  color: #4E4E50;
  text-decoration: none;
  cursor: pointer;
  background:white;
  outline: none;
}

.jumbotron__free-signup:active , .jumbotron__free-signup:visited {
  outline: none;
}

.jumbotron__home {
  margin-left:37.5%;
  margin-top: 30px;
}

/*
* work-process
*/
.work-process__container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work-process__header {
  font-size: 20px;
}

.work-process__list {
  display: inline-block;
  width: 25%;
}

.work-process__image {
  list-style-type: none;
}

.work-process__name {
  color: #00B1EC;
  font-size: 17px;
}

/*
* Practice - home page
*/

.home-work {
  height: 230px;
}

.home-method__test-part {
  display: inline-block;
  width: 50%;  
  font-size: 18px;
}

.home-method__part-container {
  margin: 100px auto;
  width: 450px;
}

.home-details__header {
  margin-left: 22px;
}

.home-method__container {
  margin: 0 auto;
  width: 1200px;
}

.home-method__detail-header {
  margin-left: 22px;
  font-size: 50px;
  color: #FF4949;
}

.home-method__list {
  font-size: 20px;
}

.home-work__container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-work__practice {
  background: url('../img/home_image1.png') no-repeat center center;
  background-size: cover;
}

.home-work__analysis {
  background: url('../img/home_image2.png') no-repeat center center;
  background-size: cover;
}

.home-work__revise {
  background: url('../img/home_image3.png') no-repeat center center;
  background-size: cover; 
}

.home-work__test {
  background: url('../img/home_image4.png') no-repeat center center;
  background-size: cover; 
}

.home__button {
  display: block;
  width: 300px;
  margin-left: 25px;
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: 0px;
}

.home__practice-button {
  background-color: #FFB800;
}

.home__analys-button {
  background-color: #8300CE;
}

.home__video-button {
  background-color: #009858;
}

.home__test-button {
  background-color: #FF4949;
}

/*
* Details about method and selection
*/

.home-method {
  height: 650px;
}


/*
* Pricing table and their details
*/

.pricing_details {
  height: 700px;
  background-color: #E4EEF0;
}

/*
* Embibe is for everyone.
*/
.successful-student {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.successful-student__container {
  max-width: 1200px;
  margin: 0 auto;
}

.successful-student__header {
  font-size: 50px;
}

.successful-student__subheader {
  font-size: 18px;
}

.successful-student__blocks {
  position: relative;
  width: 100%;
  vertical-align: bottom;
  height: 500px;
  overflow: hidden;
}

.successful-student__brick {
  position: absolute;
  bottom: 500px;
  display: inline-block;
  width: 25%;
  height: 30px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background: rgb(0, 177, 236);
  opacity: 0;
  color: #fff;
  transition: 0.5s background-color ease
}

.successful-student__brick--dark {
  background-color: #166b94;
  text-align: center;
  padding: 5px;
}

.successful-student__ref {
  width: 12%;
  display: inline-block;
}

.successful-student__block {
  position: relative;
  width: 20%;
  height: 100%;
  margin: 0 5%;
  display: inline-block;
}

.successful-student__student {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background:#E3EDEF;
  border-right: 1px solid white;
}

.successful-student__image ,
.successful-student__detail {
  position:absolute;
  bottom:0;
  display: inline-block;
}

.successful-student__image {
  left: 10px;
  bottom: 10px;
}

.successful-student__detail {
  right: 10px;
  bottom: 30px;
}

.successful-student__image {
  width: 113px;
  height: 113px;
  border-radius: 58px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  overflow: hidden;
}

/*
.successful-student__detail--minus {
  -webkit-transform: translate(0 , -30px);
     -moz-transform: translate(0 , -30px);
       -o-transform: translate(0 , -30px);
      -ms-transform: translate(0 , -30px);
}
*/


/*
* Features of the Embibe
*/
.feature {
  padding: 20px 0;
  color: #4D4D4F;
  margin-bottom: 50px;
}

.feature__container {
  width: 1200px;
  margin: 0 auto;
}

.feature__header {
  font-size: 50px;
  text-align: center;
}

.feature__subheader {
  margin-top: -20px;
  padding: 0 250px;
  text-align: center;
}

.feature__detail {
  width: 33.33%;
  height: 350px;
  vertical-align: bottom;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.feature__detail--header {
  font-size: 20px;
}

.feature__detail--image {
  height: 110px;
}
/*
* Rankers from success stories.
*/

.rankers {
  height: 1000px;
}

.rankers__container {
  margin : 0 auto;
  max-width: 1200px;
}


/*
* We know jee IIT_JEE  page.
*/
.know-jee {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 700px;
  background-color: #F2F5F6;
}

.know-jee__container {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

.know-jee__header {
  font-size :50px;
}
.know-jee__subheader {
  padding-left: 250px;
  padding-right: 250px;
}

.know-jee__sub {
  padding-top: 20px;
  padding-bottom: 20px;
}

.know-jee__subject {
  position: relative;
  display: inline-block;
  width: 33.33%;
}

.know-jee__subject--precentage {
  position: absolute;
  margin-top: 22%;
  left: 45%;
}

.know-jee__subject--std {
  display: inline-block;
  width: 49%;
}

/*
* Past year papers from iit_jee page
*/

.paper {
  height: 500px;
  text-align: center;
}

.paper__container {
  margin: 0 auto;
  width: 1200px;
}

.paper__header {
  font-size: 50px;
}

/*
* Pricing on the iit_jee page.
*/
.series-price {
  height: 500px;
  background-color: #E4EEF0;
}

.series-price__container {
  margin: 0 auto;
  width: 1200px;
}

/*
* Details of the Indiaviduals in the aboutus page.
*/

.indiaviduals {
  height: 800px;
  background-color: #F2F5F6;
}

.indiaviduals__container {
  margin: 0 auto;
  width: 1200px;
}

.indiaviduals__header {
  font-size: 50px;
  text-align: center;
}

.indiaviduals__subheader {
  text-align: center;
}
/*
* All in a days work.
*/
.days-work__header {
  font-size: 50px;
}

.days-work__subheader {
  font-size: 20px;
}

.days-work__container {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

.days-work__image {
  margin:70px 0;
}

/*
* Faculty page
* Details of the faculties
* And Form for intrested Student
*/

.faculties {
  max-height: 1000px;
  padding:20px 0;
  color: #3f3f3f;
  background-color: #F2F5F6;
}

.faculties__images--container {
  margin: 0 auto;
  width: 1200px;
}

.faculties__header,
.faculties__subheader {
  text-align: center;
}

.faculty__image {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url("../img/professors.png");
}

.faculty__image--right {
  float: right;
  background-position: 600px 0;
  width: 300px;
  height: 300px;
  background-color: red;
}
.faculty__image--left {
  float: left;
  background-position: 600px 0;
  width: 300px;
  height: 300px;
  background-color: red;
}

.faculty__image--right {
  float: right;
}
.faculty__image--left {
  float: left;
}

.faculties__header {
  font-size: 40px;
}

.faculties__subheader {
  margin-top: -20px;
  margin-bottom: 10px;
}

.faculties__images {
  height: 400px;
  width: 100%;
  margin : 50px 0;
}

.faculties__images ul {
  list-style: none;
}

.faculties__images--one,
.faculties__images--two,
.faculties__images--three {
  width: 33%;
  height: 400px;
  display: inline-block;
}

.faculties__images--one {
  background-color: red;
}

.faculties__images--two {
  background-color: blue;
}

.faculties__images--three {
  background-color: green;
}
.signup {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 25px;
  color: white;
  background-color: #00B1EC;
  border-radius: 5px;
}

.signup__container {
  width: 1200px;
  margin: 0 auto;
}

.signup__header {
  margin-top: -10px;
  font-size: 25px;
}

.signup__name,
.signup__phone,
.signup__submit {
  width: 30%;
  display: inline-block;
}

.input {
  height: 35px;
  width: 320px;
  padding: 5px;
  padding-left: 15px;
  font-family: 'apercu';
  background-color: #ABF7FF;
  border:0px;
  border-radius: 25px;
  outline: none;
}

::-webkit-input-placeholder {
  font-weight: 500;
  color: #000033;
}

:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
  color: #000033;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 500;
  color: #000033;
}

:-ms-input-placeholder {
  font-weight: 500;
  color: #000033;
}

.btn {
  height: 40px;
  width: 260px;
  margin-left: 150px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: transparent;
  border:1px solid white;
  border-radius:40px;
}

.btn:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
  background: white;
}

/*
*Video of the Embibe Practice
*/

.video {
  z-index: -1;
  height: 500px;
  overflow-x:hidden;
  overflow-y:hidden;
  background: url("../img/video.png") no-repeat center center;
  background-size:cover;
}

/*
* Pricing Quote image
*/
.quote {
  position: relative;
  height: 241px;
  margin: 0;
  color: white;
}
.quote--pricing{
  background: url("../img/pricing.png") no-repeat center center;
  background-size:cover;
}

.quote--IIT_JEE{
  background: url("../img/pricing.png") no-repeat center center;
  background-size:cover;
}

.quote--stories {
  background: url("../img/stories.png") no-repeat center center;
  background-size:cover; 
}

.quote__quote {
  position: absolute;
  padding-top: 75px;
  padding-left: 40%;
  padding-right: 30%;
  text-align: right;
  line-height: 25px;
  font-size: 22px;
}

.quote__name {
  position: absolute;
  padding-top: 140px;
  padding-left: 42%;
  text-align: right;
  width: 70%;
  font-size: 17px;
}

/*
* FAQs for embibe
*/

.faq {
  height: 480px;
  margin-top: 50px;
  outline: 0;
}
.faq__container {
  width: 1200px;
  margin: 0 auto;
}

.add-feature {
  height: 400px;
  margin-top: 50px;
  outline: 0;
}

.faq__header {
  margin-left: 50px;
  font-size:20px;
}

.faq__questions--header {
  margin:0;
}

.faq__questions--header a {
  margin: 0;
  padding: 10px;
  padding-left: 40px;
  display: block;
  color: #4E4E50;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  background: url("../img/sprite1.png") 15px 13px no-repeat;
}

.faq__questions--header a:link {
  outline: none;
}

.faq__questions--header.open a {
  background-position-x: 13px;
  background-position-y: -25px; 
}

.faq__question--answer {
  padding-left: 40px;
}

/*
* wedo images in about us page
*/
.wedo {
  height: 1100px;
  padding: 20px 0;
  background-color: #F2F5F6;
}

.wedo__container {
  margin: 0 auto;
  width: 1200px;
  padding: 50px 100px;
}

.wedo__header {
  text-align: center;
  font-size: 50px;
}

.wedo__subheader {
  text-align: center;
  font-size: 16px;
  padding: 0 25%;
}

.wedo__album {
  list-style-type: none;
}
.wedo__album--image {
  width: 33.33%;
  margin-top: 15px;
  display: inline-block;
}

/*
* Carousel
*/

.carousel {
  height: 250px;
  text-align: center;
  background-color: #006696;
}

.carousel_inner {
  float: left;
  width:1286px;
  height: 250px;
  margin: 0 auto;
  font-size: 18px;
  overflow: hidden;
}

#carousel_ul {
  position:relative;
  left:-1300px;
  width:9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#carousel_ul li {
  float: left;
  width:1281px;
  padding:0px;
  color: white;
  background-color: #006696;
}

.caoursel__content {
  width: 100%;
  height: 200px;
  padding: 55px;
}

#left_scroll,
#right_scroll {
  float:left;
}

#left_scroll i,
#right_scroll i {
  z-index: 1;
  position: absolute;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

#left_scroll i {
  margin-left: 8%;
}

#right_scroll i {
  margin-left: -8%;
}

/*
* Investors for embibe
*/

.investors {
  height: 400px;
  padding: 20px 0;
  background-color: #F2F5F6;
}

.investors__container {
  margin: 0 auto;
  width: 1200px;
}

.investors__header {
  text-align: center;
  font-size: 50px;
}

.investors__details--image {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.investors__details--about {
  padding: 0 10%;
}

/*
* Embibe in the news--aboutus page
*/

.in-news {
  width: 100%;
  height: 300px;
}

.in-news__container {
  margin : 0 auto;
  width: 1200px;
}

.in-news__header {
  text-align: center;
  font-size: 50px;
}

.in-news__subheader {
  text-align: center;
  margin-top: -15px;
  font-size: 17px;
}

.in-news__logo {
  margin-top: 70px;
}

.in-news__logo--image {
  display: inline-block;
  width: 24%;
  text-align: center;
  vertical-align: middle;
}


/*
* Privacy policy section
*/

.info-setion {

}

/*
* Android application link of embibe
*/

.android-app {
  height: 202px;
  padding: 20px 0;
  background-color: #E4EEF0;
}

.android-app__container {
  width: 1200px;
  margin: 0 auto;
}

.android-app__mobile {
  width: 25%;
  margin:0;
  padding: 0;
  display: inline-block;
}

.android-app__detail {
  vertical-align: top;
  width: 40%;
  padding-top: 30px;
  display: inline-block;
  color:  #434D56;
  font-size: 22px;
}

.android-app__playstore {
  vertical-align: top;
  width: 30%;
  padding-top: 50px;
  padding-left: 5px;
  display: inline-block;
}

/*
*News of the embibe.com
*/

.news {
  padding: 20px 0;
  font-size: 17px;
  color: white;
  background-color: #90A9B2;
}

.news__container {
  width: 1200px;
  margin: 0 auto;
}

.news__detail {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.news__detail--date {
  font-size: 12px;
}

.news__details--info,
.news__detail--date {
  margin: 0;
  padding: 0;
  padding-right: 120px;
}

/*
*Contact details and the cources list
*/

.contact {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 25px;
  background-color: #4D4D4F;
}

.contact__container {
  width: 1200px;
  margin: 0 auto;
}

.contact__part {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.contact__list--link {
  list-style-type: none;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact__list-header {
  padding-top: 15px;
  font-size: 16px;
  color: #a8a8a8;
}

 .contact__list--page {
  line-height: 40px;
 }

.contact__list-contact {
  color: white;
}

.contact__list--subheader {
  margin-top: -5px;
  font-size: 11px;
  color: #a8a8a8;
}

/*
* Footer styles
*/

.footer {
  max-height: 70px;
  font-size: 15px;
  background-color: #363637;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
}

.footer__ul {
  margin:0;
  padding: 20px 0;
}

.footer__list {
  display: inline-block;
}

.footer__link,
.footer__ul {
  color: #767677;
  text-decoration: none;
  list-style-type: none;
}

.footer__link {
  color: #A6A8AB;
}

/*
* Terms styles
*/

#terms {
  padding-left: 50px;
  padding-right: 30px;
}